<meta http-equiv='Refresh' content='35' />
<html>
    <head>
        <title>Внешний мониторинг сетевых ресурсов</title>
    </head>
    <body>
<div align = "right"><h1>{{timer}}</h1></div>
<h2>https</h2>
<table border = 1 width = 600>
{% for mem in bad_list %}
<tr>
<td><b><font color = "red"><p>https://{{mem}}</p></font></b></td><td><b><font color = "red"><p> НЕДОСТУПЕН!</p></font></b></td>
</tr>
{% endfor %}
{% for mem in good_list %}
<tr>
{% if mem[1] < 30 %}
<td><b><font color = "DarkOrange"><p>https://{{mem[0]}}</p></b></font></td><td><font color = "DarkOrange"><b><p> ДОСТУПЕН, срок действия сертификата {{mem[1]}} дней.</p></font></b></td>
{% else %}
<td><b><font color = "green"><p>https://{{mem[0]}}</p></font></b></td><td><b><font color = "green"> <p> ДОСТУПЕН, срок действия сертификата {{mem[1]}} дней.</p></font></b></td>
{% endif %}
</tr>
{% endfor %}
</table>
<h2>Cisco jabber</h2>
<table border = 1 width = 600>
{% for mem in bad_port_list %}
<tr>
<td><b><font color = "red"><p>{{mem}} НЕДОСТУПЕН</p></font></td>
</tr>
{% endfor %}
{% for mem in good_port_list %}
<tr>
<td><b><font color = "green"><p>{{mem}}</p></font></b></td><td><b><font color = "green"> <p> ДОСТУПЕН</p></font></b></td>
</tr>
{% endfor %}
</table>

    </body>
</html> 
